.body {
    background-image: url('https://earlygame.com/uploads/images/_1200x630_crop_center-center_82_none/Apex-Legends-worlds_edge.jpeg?mtime=1581182095');
  }

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }

.backpack {
    margin: .5rem;
    padding: 2rem 2rem;
    text-align: center;
    display: inline-block;
    justify-content: center;
    border-radius: 25px;
    margin:0;
    padding:0;
    background: #757575;
  }

.item-box-row {
    margin: 1rem;
    padding: .5rem .5rem;
    text-align: center;
  }

.item-box {
    display: inline-block;
    border-radius: 25px;
    margin:0;
    padding:0;
    background: #777777;
    background: repeating-linear-gradient(
  45deg,
  #bebebe,
  #bebebe 15px,
  #979797 15px,
  #979797 30px
);
    padding: 20px;
    width: 50px;
    height: 50px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    vertical-align: center;
    line-height: 90px;
    font-size: 50px;
  }

.item-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.weapon-box {
    display: inline-block;
    border-radius: 25px;
    margin:0;
    padding:0;
    background: #777777;
    background: repeating-linear-gradient(
  45deg,
  #bebebe,
  #bebebe 15px,
  #979797 15px,
  #979797 30px
);
    padding: 20px;
    width: 450px;
    height: 275px;
    font-family: 'Teko', sans-serif;
    text-align: top;
    vertical-align: middle;
    line-height: 90px;
    font-size: 50px
  }

.weapon-name {
    font-size: 20px;
    word-wrap:break-word;
  }

.text {
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}